* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  user-select: none;
  font-family: Arial, sans-serif;
}
.Title{
  font-family: "Poppins", sans-serif;
}
/* Start nav style */
nav div.nav-items {
  background-color: #f5f5f5;
  height: 45px;
}
svg {
  width: 50px;
}
nav div.nav-items a {
  font-size: 0.85em;
}

header {
  height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nike-logo img {
  width: 10%;
}

.support-nav-items {
  display: flex;
  align-items: center;
}

.Nav-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  left: -200px;
}

.Nav-menu-items a {
  text-decoration: none;
  padding: 0 15px;
  color: inherit;
  font-weight: bolder;
}

.support-nav-items {
  display: flex;
  align-items: center;

  .search-container {
    display: flex;
    align-items: center;
    position: relative;

    input {
      position: relative;
      padding: 8px 20px 8px 40px;
      border: 1px solid #ddd;
      border-radius: 20px;
      width: 270px;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #aaa;
      }
    }

    i.bx-search {
      position: absolute;
      right: 119px;
      color: #aaa;
      font-size: 18px;
      border-radius: 50%;
      padding: 10px 10px;
      cursor: pointer;
    }
    &:hover i.bx-search{
      background-color: rgb(224, 224, 224);
    }
  }

  .icons-container {
    display: flex;
    align-items: center;
    margin-left: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      border-radius: 50%;
      background-color: #ffffff;
      margin-left: 10px;
      color: #333;
      text-decoration: none;

      i {
        font-size: 20px;
      }
    }
  }
}
.HideYo{
  overflow-y: hidden;
}
.top-65{
  top: 65%;
}
.left-5{
  left: 5%;
}
.w-80p{
  width: 80px;
}
.w-450p{
  width: 450px;
}