/* Normalization */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: Arial, sans-serif;
}

/* Classes */
.Title {
  font-family: "Poppins", sans-serif;
}
.hr-faded {
  display: flex;
  margin: auto;
  opacity: 0.2;
  width: 95%;
  height: 1px;
  background-color: black;
}
.HideYo {
  overflow-y: hidden;
}
.top-65 {
  top: 65%;
}
.left-5 {
  left: 5%;
}
.w-80p {
  width: 80px;
}
.w-450p {
  width: 450px;
}

/* Start nav style */
nav div.nav-items {
  background-color: #f5f5f5;
  height: 45px;
}
nav svg {
  width: 50px;
}
nav div.nav-items a {
  font-size: 0.85em;
}
header {
  height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nike-logo img {
  width: 11%;
}
.support-nav-items {
  display: flex;
  align-items: center;
}
.Nav-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  left: -200px;
}
.Nav-menu-items a {
  text-decoration: none;
  padding: 0 15px;
  color: inherit;
  font-weight: bolder;
  border-bottom: solid 1.5px transparent;
  transition: all 0.5s;
}
div.Nav-menu-items a:hover {
  border-bottom: solid 1.5px black;
}
.support-nav-items {
  display: flex;
  align-items: center;

  .search-container {
    display: flex;
    align-items: center;
    position: relative;

    input {
      position: relative;
      padding: 8px 20px 8px 40px;
      border: 1px solid #ddd;
      border-radius: 20px;
      width: 144px;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #aaa;
      }
    }
    i.bx-search {
      position: absolute;
      right: 105px;
      color: #aaa;
      font-size: 18px;
      border-radius: 50%;
      padding: 10px 10px;
      cursor: pointer;
    }
    &:hover i.bx-search {
      background-color: rgb(224, 224, 224);
    }
  }
  .icons-container {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      border-radius: 50%;
      background-color: #ffffff;
      margin-left: 10px;
      color: #333;
      text-decoration: none;
      i {
        font-size: 20px;
      }
    }
  }
}

/* Product section  */
@media (max-width: 800px) {
  .row-1-2 {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .row-1-2 h4,
  span {
    font-size: 15px !important;
  }
}
/* Start category section  */
div.drop-down-menu-category {
  height: 300px;
  transition: all 0.5s;
  position: relative;
}
.drop-down-menu-category:hover {
  height: 676px;
}

/* Start footer */
footer {
  position: relative;
  min-height: 500px;
}
.Guides-drop-down-menu {
  opacity: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2%;
  left: 24.5%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.41);
  padding: 15px;
  padding-right: 50px;
  border-radius: 10px;
  list-style: none;
  z-index: 10000;
}
.Guides-items:hover div.Guides-drop-down-menu {
  opacity: 1;
  display: flex;
}
.Guides-drop-down-menu a {
  padding: 5px 0;
  opacity: 0.7;
}
.privacy-img {
  width: 30px;
  height: 30px;
  position: relative;
  top: -3.5px;
}
