/* Normalization */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: Arial, sans-serif;
}

/* Classes */
.Title {
  font-family: "Poppins", sans-serif;
}
.hr-faded {
  display: flex;
  margin: auto;
  opacity: 0.2;
  width: 95%;
  height: 1px;
  background-color: black;
}
.top-65 {
  top: 65%;
}
.left-5 {
  left: 5%;
}
.w-80p {
  width: 80px;
}
.w-450p {
  width: 450px;
}

/* Start nav style */
@media (max-width: 550px) {
  .above-nav {
    display: none !important;
  }
}

nav div.nav-items {
  background-color: #f5f5f5;
  height: 45px;
}
nav svg {
  width: 50px;
}
nav div.nav-items a {
  font-size: 0.85em;
}
header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nike-logo {
  margin-right: 42px;
}
.nike-logo img {
  width: 100px;
}
.Nav-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.Nav-menu-items a {
  text-decoration: none;
  padding: 0 15px;
  color: inherit;
  font-weight: bolder;
  border-bottom: solid 1.5px transparent;
  transition: all 0.5s;
  color: #33333395;
}

div.Nav-menu-items a:hover {
  color: rgb(0, 0, 0);
}

.support-nav-items {
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input {
  border-radius: 25px;
  padding: 6px;
  width: 150px;
  padding-right: 0px;
  padding-left: 40px;
}

.search-container .bx-search {
  position: absolute;
  font-size: 1.2em;
  margin-left: 2px;
  color: rgb(92, 92, 92);
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.search-container .bx-search:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.173);
  border-radius: 40px;
}

.icons-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  gap: 5px;
}

.icons-container a i {
  color: rgb(92, 92, 92);
  font-size: 1.5em;
  transition: color 0.5s;
}

.icons-container a i:hover {
  color: black;
}
.menu {
  display: none;
}
.search {
  display: none;
}

@media (max-width: 1111px) {
  .menu {
    display: block;
  }
  .Nav-menu-items a {
    display: none;
  }
}

@media (max-width: 700px) {
  header {
    padding: 0 30px;
  }
}

@media (max-width: 550px) {
  header {
    padding: 0 5px;
  }
}

@media (max-width: 450px) {
  .bx-heart,
  .bx-user,
  .bx-shopping-bag,
  .search-container {
    display: none;
  }

  .search {
    display: block;
  }
  .nike-logo img {
    width: 70px;
  }
}

/* Product section  */

@media (max-width: 800px) {
  .row-1-2 {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .row-1-2 h4,
  span {
    font-size: 15px !important;
  }
  .PRODUCER-PACK-SECTION button.product_content {
    width: 50px;
    height: 25px;
    font-size: 10px;
    align-items: center;
    display: flex;
  }
}

/* NEW THIS WEEK  */
@media (max-width: 370px) {
  .Week-Title,
  .Week-Title h3 {
    margin: 10px 0 !important;
    font-size: 20px !important;
  }
  .Week-Title button {
    font-size: 13px !important;
  }
}

/* MEMBERSHIP */

.Title-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

@media (max-width: 500px) {
  .MEMBERSHIP_PRODUCT_SECTION div,
  .MEMBERSHIP_PRODUCT_SECTION div img {
    width: 340px;
    height: 400px !important;
  }
  .Membership-content {
    top: 270px !important;
    padding: 10px !important;
  }
}
@media (max-width: 370px) {
  .MEMBERSHIP_PRODUCT_SECTION div,
  .MEMBERSHIP_PRODUCT_SECTION div img,
  h4 {
    width: 240px;
    height: 300px !important;
    font-size: 15px;
  }
  .Title {
    font-size: 1em !important;
  }
  .Membership-content {
    top: 200px !important;
    padding: 10px !important;
  }
  .MEMBERSHIP_PRODUCT_SECTION div button {
    display: none;
  }
}
@media (max-width: 300px) {
  .MEMBERSHIP_PRODUCT_SECTION div,
  .MEMBERSHIP_PRODUCT_SECTION div img,
  h4 {
    width: 220px;
    height: 280px !important;
    font-size: 15px;
  }
  .Title {
    font-size: 1em !important;
  }
  .Membership-content {
    top: 200px !important;
    padding: 10px !important;
  }
}

/* Start category section  */
div.drop-down-menu-category {
  height: 300px;
  transition: all 0.5s;
  position: relative;
}
.drop-down-menu-category:hover {
  height: 676px;
}

@media (max-width: 880px) {
  .drop-down-menu-category {
    font-size: 13px;
    gap: 0 !important;
  }
}
@media (max-width: 690px) {
  .drop-down-menu-category {
    font-size: 9px;
    gap: 0 !important;
  }
}
@media (max-width: 580px) {
  .category-section,
  .drop-down-menu-category {
    display: none !important;
  }
}
/* Start footer */
footer {
  position: relative;
  min-height: 500px;
}
.Guides-drop-down-menu {
  opacity: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2%;
  left: 24.5%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.41);
  padding: 15px;
  padding-right: 50px;
  border-radius: 10px;
  list-style: none;
  z-index: 10000;
}
.Guides-items:hover div.Guides-drop-down-menu {
  opacity: 1;
  display: flex;
}
.Guides-drop-down-menu a {
  padding: 5px 0;
  opacity: 0.7;
}
.privacy-img {
  width: 30px;
  height: 30px;
  position: relative;
  top: -3.5px;
}
